/* css styles */
.response-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background-color: #e7f1e9;
    margin: 20px 0;
  }
  
  .response-card h4 {
    margin-top: 0;
    color: #2c3e50;
  }
  
  .response-card ul {
    padding-left: 20px;
  }
  
  .response-card p {
    font-size: 0.9em;
    color: #555;
  }
  
  .balance-card {
    border: 1px solid #ccc;
    background-color:  #edf5ee;
    padding: 12px 15px;
    border-radius: 8px;
    margin: 20px 0;
  }
  
  .balance-card h4 {
    margin-top: 0;
    color: #2c3e50;
  }
  
  .balance-card p {
    font-size: 0.95em;
    color: #444;
  }

  .result-box {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
  